### Create DataFrame form List

In [1]:
import pandas as pd

data = [['Sun', 320.9, 100], ['Moon', 150.3, 50], ['Star', 1.5, 200]]
columns = ['Name', 'Unit Price', 'Quantity']

df = pd.DataFrame(data, columns=columns)
print(df)
print(type(df))

   Name  Unit Price  Quantity
0   Sun       320.9       100
1  Moon       150.3        50
2  Star         1.5       200
<class 'pandas.core.frame.DataFrame'>

### Create DataFrame from Dictionary

In [5]:
import pandas as pd

data = {
    "Name": ["Sun", "Moon", "Star"],
    "Unit Price": [320.9, 150.3, 1.5],
    "Quantity": [100, 50, 200],
    'Company Name': 'South-Door Supermarket'
}

df = pd.DataFrame(data)

print(df)

   Name  Unit Price  Quantity            Company Name
0   Sun       320.9       100  South-Door Supermarket
1  Moon       150.3        50  South-Door Supermarket
2  Star         1.5       200  South-Door Supermarket

### Create DataFrame from Series

In [3]:
import pandas as pd

series1 = pd.Series(["Sun", "Moon", "Star"])
series2 = pd.Series([320.9, 150.3, 1.5])
series3 = pd.Series([100, 50, 200])

df = pd.DataFrame({'Name': series1, 'Unit Price': series2, 'Quantity': series3})
print(df)

   Name  Unit Price  Quantity
0   Sun       320.9       100
1  Moon       150.3        50
2  Star         1.5       200

### Important properties of DataFrame

In [12]:
import pandas as pd

data = [['Sun', 320.9, 100], ['Moon', 150.3, 50], ['Star', 1.5, 200]]
columns = ['Name', 'Unit Price', 'Quantity']

df = pd.DataFrame(data, columns=columns)
print(df)

print('View the value of all the elements\n', df.values, '\n')
print('View the type of all the elements\n', df.dtypes, '\n')
print('View all the Row name\n', list(df.index), '\n')

# Replace the Index with specified 
df.index = ['A', 'B', 'C']
print(df, '\n')

print('View the Column name/Index\n', list(df.columns), '\n')

# Replace the Column name with specified
df.columns = ['Product Name', 'Newest Price', 'Quantity']
print(df, '\n')

   Name  Unit Price  Quantity
0   Sun       320.9       100
1  Moon       150.3        50
2  Star         1.5       200
View the value of all the elements
 [['Sun' 320.9 100]
 ['Moon' 150.3 50]
 ['Star' 1.5 200]]

View the type of all the elements
 Name           object
Unit Price    float64
Quantity        int64
dtype: object

View all the Row name
 [0, 1, 2]

   Name  Unit Price  Quantity
A   Sun       320.9       100
B  Moon       150.3        50
C  Star         1.5       200

View the Column name/Index
 ['Name', 'Unit Price', 'Quantity']

  Product Name  Newest Price  Quantity
A          Sun         320.9       100
B         Moon         150.3        50
C         Star           1.5       200

In [19]:
# Conversion of row and column data
# pd.set_option('display.unicode.east_asian_width', True)   # 设置 Pandas 的一些全局选项，以调整其行为和显示方式
new_df = df.T
print(new_df, '\n')

print('View first N data\n', df.head(1), '\n')
print('View last N data\n', df.tail(1), '\n')

                  A      B     C
Product Name    Sun   Moon  Star
Newest Price  320.9  150.3   1.5
Quantity        100     50   200

View first N data
   Product Name  Newest Price  Quantity
A          Sun         320.9       100

View last N data
   Product Name  Newest Price  Quantity
C         Star           1.5       200

In [20]:
# 查看行和列， shape[0] 行， shape[1] 列
print('Row', df.shape[0], 'Column', df.shape[1])

Row 3 Column 3

In [21]:
print('View index, data type, memory information\n', df.info)

View index, data type, memory information
 <bound method DataFrame.info of   Product Name  Newest Price  Quantity
A          Sun         320.9       100
B         Moon         150.3        50
C         Star           1.5       200>